<div class="signup_box" style="height:75vh; padding-top:10%;">
  <div class="center jumbotron" >
    <h1>Welcome to "Who are you?"!!!</h1>
    <h2>
        This app was created by 
        <a href="https://twitter.com/MICHIHIROKAWAJI">Mr. Mitchy</a>
    </h2>
    <a href="/signup" class="btn02 rotateback"><span>Sign up now!</span><span>はじめる</span></a>
    <h2>アカウウントをお持ちの方は<a href="/login">こちら</a></h2>
  </div>
</div>
